<div style="margin-top: 4rem;">
  <h3>Preguntas Frecuentes</h3>

  <h5>Como hacer un pedido?</h5>
  <ul>
    <li>Encuentre el producto que busca en el listado principal o utilizando el buscador en la barra superior
      <p>NOTA: <strong>El peso de los productos es aproximado</strong></p>
    </li>
    <li>Presione el boton <a class="btn btn-info text-white"><i class="fas fa-plus-circle"></i></a>
      para agregar al carrito de compras una pieza completa o el boton
      <a class="btn btn-success text-white"><i class="fas fa-plus-circle"></i></a>
      para agregar media pieza. <p>NOTA: este ultimo boton solo esta disponible en los productos que se venden por media
        pieza</p>
    </li>
    <li>Una vez agregados al carrito todos los productos, pulse el carrito
      <button type="button" class="btn btn-success">
        <span style="font-size: 15px;"><i class="fas fa-shopping-cart"></i></span><span
          class="badge badge-success"></span>
      </button>
      que se encuentra en la barra superior.
    </li>
    <li>En la siguiente pagina puede modificar lo seleccionado, pulsando
      <ul>
        <li><a class="btn btn-info text-white"><i class="fas fa-plus-circle"></i></a>
          para aumentar media pieza o pieza completa (segun el caso)</li>
        <li><a class="btn btn-warning text-white"><i class="fas fa-minus-circle"></i></a>
          para disminuir media pieza o pieza completa (segun el caso)</li>
        <li><a class="btn btn-danger text-white"><i class="fas fa-trash"></i></a>
          para eliminar el producto de la lista
        </li>
      </ul>
    </li>
    <li>Una vez revisados los productos, seleccione el lugar de envio y pulse el boton
      <button type="button" class="btn btn-success btn-md">
        <span style="font-size: 30px; color: white;">COSTO </span> <span style="font-size: 30px; color: white;">
          <i class="fas fa-search-dollar"></i></span>
      </button>
      <p>NOTA: los precios seran confirmados luego de enviar el pedido</p>
    </li>
    <li>Visualizado el costo (incluido envio), pulse el boton
      <button type="button" class="btn btn-outline-success btn-md">
        <span style="font-size: 30px; color: rgb(77, 255, 71);">ENVIAR </span> <span
          style="font-size: 30px; color: rgb(77, 255, 71);">
          <i class="fab fa-whatsapp-square"></i></span>
      </button>
      para comenzar el envio por Whatsapp.
    </li>
    <li>Si esta en la pagina desde un telefono celular se redireccionara a Whatsapp para realizar el envio del mensaje.
      Si por el contrario se accede a la pagina desde una computadora sera redireccionado a la pagina web donde debera
      pulsar el boton ENVIAR.
    </li>
  </ul>

  <h5>Como comunicarme con uds?</h5>
  <p>Por cualquier consulta podes contactarte con nosotros mediante Whatsapp mediante el link que se encuentra en la
    parte de la pagina principal o por el siguiente link
    <a href="{{productService.textoContacto}}" target="_blank">
      Comunicate con nosotros por <span style="font-size: 25px; color: rgb(77, 255, 71);">
        <i class="fab fa-whatsapp-square"></i></span></a>
  </p>
</div>