<div class="card" style="margin-top: 4rem;">
  <div class="card-body">
    <h5 class="text-center" style="margin-bottom: 0px !important;">Productos Seleccionados</h5>
    <h6 class="text-center" style="color: red;">(LOS KG. SON APROXIMADOS)</h6>
    <table class="table table-sm table-hover">
      <tbody>
        <tr *ngFor="let product of productService.selectedProducts">
          <td style="vertical-align: middle;">
            <a class="btn btn-danger text-white" (click)="productService.deleteProduct(product.$key)">
              <i class="fas fa-trash"></i>
            </a>
          </td>
          <td style="vertical-align: middle;">{{product.nombre}}</td>
          <td style="vertical-align: middle;">{{product.cantidad}}</td>
          <td style="vertical-align: middle;">
            <a class="btn btn-info text-white" (click)="productService.onChange(product,0.5)" style="margin: 3px 3px 3px 0px">
              <i class="fas fa-plus-circle"></i>
            </a>
            <a class="btn btn-warning text-white" (click)="productService.onChange(product,-0.5)">
              <i class="fas fa-minus-circle"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="productService.selectedCount > 0" class="row" style="margin-top: 10px;">
  <div class="col-2">Envio: </div>
  <div class="col-8">
    <select name="envio" id="envio" [(ngModel)]="productService.costo_envio" class="ancho200"
    (change)="limpiarCosto()">
      <option [ngValue]="g" *ngFor="let g of productService.gasto">
        {{g.lugar}}
      </option>
    </select>
  </div>
</div>

<div *ngIf="productService.selectedCount > 0 && productService.costo_envio.lugar !=='' " class="row">
  <div class="col text-center">
    <h6>
      Revise su pedido y pulse el boton
    </h6>
    
      <button type="button" class="btn btn-success btn-md" (click)="calcularTotal()">
        <span style="font-size: 30px; color: white;">
          COSTO
        </span>
        <span style="font-size: 30px; color: white;">
          <i class="fas fa-search-dollar"></i>
        </span>

      </button>

  </div>
</div>

<div *ngIf="productService.selectedCount > 0" class="row">
  <div class="col text-center">
    <h3 *ngIf="productService.total > 0">
      TOTAL: {{productService.total | currency:'$'}}
    </h3>
    <a *ngIf="productService.total > 0" href={{productService.textoPedido}}
      target="_blank">
      <!-- <a href="https://api.whatsapp.com/send?phone=5492216209330&text=Hola, quisiera hacer el siguiente pedido: fjasldfsa, fasdkfjkdas, fsafads." -->

      <button type="button" class="btn btn-outline-success btn-md" (click)="enviar()">
        <span style="font-size: 30px; color: rgb(77, 255, 71);">
          ENVIAR
        </span>
        <span style="font-size: 30px; color: rgb(77, 255, 71);">
          <i class="fab fa-whatsapp-square"></i>
        </span>

      </button>

    </a>
  </div>
</div>

<app-footer></app-footer>