<div class="card" style="margin-top: 4.5rem;">
    <div class="card-body">
      <h6 class="text-center">Lista de productos
        <button type="button" class="btn btn-success" (click)="goCarrito()">
            <span style="font-size: 15px;">
                <i class="fas fa-shopping-cart"></i>
              </span>
            
            <span class="badge badge-success">{{productService.selectedCount}}</span>
          </button>

          <!-- <a class="nav-link" routerLink="/carrito" routerLinkActive="active">Ver carrito ({{productService.selectedCount}})</a> -->

        <!-- <span style="font-size: 25px; color: green;">
            <i class="fas fa-shopping-cart"></i>
          </span>   -->
        </h6>
      <table class="table table-sm table-hover">
        <tbody>
          <tr *ngFor="let product of productList">
            <td>{{product.nombre}}</td>
            <td>$ {{product.precio}}</td>
            <td style="width: 50px;">
              <a class="btn btn-info text-white" (click)="onAdd(product)">
                <i class="fas fa-plus-circle"></i>
              </a>
              <!-- <a class="btn btn-danger text-white" (click)="onDelete(product.$key)">
                <i class="fas fa-minus-circle"></i>
              </a> -->
            </td>
            <!-- <td>{{product.cantidad}}</td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <app-footer></app-footer>