<h6 class="text-center" style="margin-top: 4rem;">Lista de productos
  <!-- <button type="button" class="btn btn-success" (click)="goCarrito()">
    <span style="font-size: 15px;">
      <i class="fas fa-shopping-cart"></i>
    </span>

    <span class="badge badge-success">{{productService.selectedCount}}</span>
  </button> -->
</h6>

<div class="row">
  <div class="col">

    <ng-container>

      <div class="card card-color" *ngFor="let product of productService.products">

        <div class="card-body">
          <img src='{{product.imagen}}' alt='{{product.nombre}}' style="float:right;width:100px;height:100px;">

          <h5 class="card-title"> {{product.nombre}}</h5>

          <p class="card-text-value">Precio por kg.: {{(product.precio / product.peso).toFixed(2) | currency:'$'}}</p>
          <p class="card-text-value">Peso aprox.: {{product.peso}} kg</p>

          <div class="row">
            <div class="col-2" style="margin: 5px 0 0 10px;">
              <a class="btn btn-info text-white float-right" (click)="productService.onChange(product,1)">
                <i class="fas fa-plus-circle"></i>
              </a>
            </div>
            <div class="col-8" style="padding-top: 15px;">Pieza entera: {{product.precio | currency:'$'}}</div>

          </div>

          <div class="row" *ngIf="product.por_mitad">
            <div class="col-2" style="margin: 5px 0 0 10px;">
              <a class="btn btn-success text-white float-right" (click)="productService.onChange(product,0.5)">
                <i class="fas fa-plus-circle"></i>
              </a>
            </div>
            <div class="col-8" style="padding-top: 15px;">Media pieza:
              {{(product.precio / 2).toFixed(2) | currency:'$'}}</div>

          </div>

        </div>
      </div>

    </ng-container>

  </div><!-- /.col -->
</div><!-- /.row -->


<app-footer [whatsapp]='true'></app-footer>

<!-- 
Button trigger modal
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Ver modal
</button>

Modal
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-scrollable modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Ayuda</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div> -->
