<div class="card mt-1">
  <div class="card-body">
    <h6 class="text-center">Lista de Costos de Envios</h6>
    <table class="table table-sm table-hover">
      <tbody>
        <tr *ngFor="let envio of envioList">
          <td style="width: 65%;" >{{envio.lugar}} | {{envio.costo | currency:'$'}}</td>
          <td>
            <a class="btn btn-secondary text-white" (click)="onEdit(envio)">
              <i class="fas fa-edit"></i>
            </a>
            <a style="margin-left: 5px" class="btn btn-danger text-white" (click)="onDelete(envio.$key)">
              <i class="fas fa-trash"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>